.panoramic-slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.panoramic-slider {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth; /* smooth scroll on button clicks */
    cursor: grab;
}

    .panoramic-slider:active {
        cursor: grabbing;
    }

    .panoramic-slider img {
        display: block;
        height: 100%;
        max-height: 100%;
        width: auto;
    }

/* Arrow buttons */
.panoramic-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

    .panoramic-arrow.left {
        left: 10px;
    }

    .panoramic-arrow.right {
        right: 10px;
    }
